vdata/
images/
svgs/
videos/
localization/

# Game File Extractor
DepotDownloader
depots/
Decompiler
libSkiaSharp.so
libTinyEXR.Native.so
libSkiaSharp.dylib
libTinyEXR.Native.dylib
Source2Viewer-CLI

.venv
